.kindsOfCarBarWrapper{
    width: 100vw;
    height: 1480px;
    border-top: solid 2px var(--greyThemeColor);
    margin-left: auto;
    margin-right: auto;
}

.kindsOfCarBarWrapper > h1{
    text-align: center;
    color: var(--darkBlueThemeColor);
    margin-top: 20px;
}

.kindsOfCarBarWrapper > p{
    text-align: center;
    margin-top: 10px;
}

.kindsOfCarBarContent{
    width: 100vw;
    height: 1300px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    justify-items: center;
}

@media (orientation: landscape) {

    .kindsOfCarBarWrapper{
        height: 710px;
    }

    .kindsOfCarBarContent{
        height: 580px;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}

@media screen and (min-width: 960px) {

    .kindsOfCarBarWrapper{
        height: 650px;
    }
    
    .kindsOfCarBarContent{
        height: 530px;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }
}

@media screen and (min-width: 1200px) {
    
    .kindsOfCarBarWrapper{
        height: 430px;
    }

    .kindsOfCarBarContent{
        width: 80vw;
        min-width: 1200px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        height: 280px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
    }
}