.contactWrapper{
    margin-top: var(--navbarHeight);
    width: 100%;
    height: auto;
}

@media screen and (min-width: 960px) {
    
    .contactWrapper{
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
    }
}