.availableCarsWrapper{
    margin-top: var(--navbarHeight);
    width: 100vw;
    height: auto
}

.AvailableCarsContent{
    width: 100%;
    height: 100%;
    background-color: rgb(97, 96, 96);

    display: grid;
    grid-template-columns: 1fr;
}

.filtersWrapper{
    background-color: green;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.locationsFilterContent, .otherSettingsFilterContent{
    background-color: lightblue;
    width: 100%;
    height: 80px;
}

.locationsFilterContent{
    margin-top: 20px;
    display: flex;
    transition: height .7s ease-out;
}

.locationsFilterContentActive{
    height: 0;
}

.locationInfo{
    width: 40%;
    height: 100%;
    background-color: #fff;

    border: solid 2px blue;
}

.locationFormOpenButtonWrapper{
    width: 20%;
    height: 100%;
    background-color: #fff;

    border: solid 2px blue;
}

.locationFormWrapper{
    width: 100%;
    height: 0;
    background-color: #fff;

    border: solid 2px blue;
    transition: height .7s ease-out;
}

.locationFormWrapperActive{
    height: 400px;
}

.closeLoactionFormButtonArea{
    width: 100%;
    height: 40px;
    background-color: pink;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.closeLocationFormButton{
    padding: 0;
    margin-right: 20px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: blue;
    background-color: white;
    border: none;

    cursor: pointer;
}

.otherSettingsFilterContent{
    width: 100%;
    height: 80px;
    overflow-y: hidden;
    transition: height .7s ease-out;
}

.otherSettingsFilterContentActive{
    height: 400px;
}

.otherSettingsFilterBar{
    width: 100%;
    height: 80px;
    padding: 0 20px;
    background-color: #fff;

    border: solid 2px blue;

    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.filterBarContent{
    font-size: 22px;
    display: flex;
    align-items: center;
}

.filterBarContent > h3{
    margin-left: 10px;
}

.filterArrow{
    font-size: 50px;
}

.filterArrowActive{
    transform: rotate(180deg);
}

.filterFormWrapper{
    width: 100%;
    height: 600px;

    background-color: #fff;
    border: solid 2px blue;
}

.contentWrapper{
    width: 100%;
    height: auto;
    background-color: yellow;
}

.carItem{
    width: 95%;
    height: 300px;
    margin: 10px auto 10px auto;
    background-color: #fff;
}



@media (orientation: landscape) {

}

@media screen and (min-width: 960px) {

    .availableCarsWrapper{
        padding: 0 5vw;
    }
    
    .AvailableCarsContent{
        grid-template-columns: 1fr 2.8fr;
        column-gap: 10px;
    }

    .filtersWrapper{
        background-color: green;
    }

    .locationsFilterContent, .otherSettingsFilterContent{
        margin-top: 20px;
        background-color: lightblue;
        width: 300px;
        height: auto;
    }

    .locationsFilterContent{
        flex-direction: column;
    }

    .locationsFilterContentActive{
        height: 0;
    }

    .locationInfo{
        width: 100%;
        height: 160px;
        background-color: #fff;
    }

    .locationFormOpenButtonWrapper{
        width: 100%;
        height: 40px;
        background-color: #fff;
    }

    .locationFormWrapper{
        width: 300px;
        height: 0;
    }

    .locationFormWrapperActive{
        height: 400px;
    }

    .otherSettingsFilterContent{
        margin-bottom: 50px;
    }

    .otherSettingsFilterBar{
        cursor: auto;
    }

    .filterArrow{
        display: none;
    }

    .contentWrapper{
        margin-top: 10px;
        height: auto;
    }
    
}