.availableCarsWrapper{
    margin-top: var(--navbarHeight);
    width: 100vw;
    height: auto
}

.AvailableCarsContent{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
}


@media screen and (min-width: 960px) {

    .availableCarsWrapper{
        padding: 0 5vw;
    }
    
    .AvailableCarsContent{
        grid-template-columns: 320px 2.8fr;
        column-gap: 10px;
    }
}