:root{
  --greyThemeColor: rgb(128, 128, 128);
  --greenThemeColor: rgb(115, 230, 38);
  --blueThemeColor: #0055B0;
  --lightBlueThemeColor: #297acf;
  --darkBlueThemeColor: rgb(13, 46, 88);
  --paleGreenThemeColor: rgb(70, 180, 70);
  --lightGreyThemeColor: rgb(203, 208, 214);
  --yellowGreenHoverThemeColor: rgb(174, 240, 44);
  --redButtonThemeColor: rgb(231, 46, 46);
  --redButtonHoverThemeColor: rgb(247, 3, 3);
}

a:hover, a:visited, a:link, a:active, a {
  text-decoration: none;
  color: white;
}