.carCardTitle{
    text-align: center;
}

.carCardButtonContent{
    display: flex;
    justify-content: space-evenly;
}

.cardContent{
    width: 18rem;
    margin-bottom: 10px;
}

.buttonLink{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70px;
}

.blueLink{
    background-color: var(--blueThemeColor);
    border-color: var(--blueThemeColor);
}

.blueLink:hover{
    background-color: var(--darkBlueThemeColor);
    border-color: var(--darkBlueThemeColor);
}

.greenLink{
    background-color: yellowgreen;
    border-color: yellowgreen;
}

.greenLink:hover{
    background-color: var(--yellowGreenHoverThemeColor);
    border-color: var(--yellowGreenHoverThemeColor);
}