.carItem{
    width: 95%;
    height: auto;
    margin: 10px auto 10px auto;
    background-color: #fff;


    border: solid 2px blue;
}

.carItem > .carItemTitle{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--darkBlueThemeColor);


    border: solid 2px blue;
}

.carItem > .mainPart{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;


    border: 2px solid blue;
}

.mainPart > .carItemImage{
    width: 240px;
    height: 140px;
}

.carItem > .carItemDescription{
    width: 95%;
    height: auto;
    margin: 20px auto 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px 50px;
    column-gap: 10px;
    justify-content: center;
    align-content: center;

    border: 2px solid blue;
}

.carItemDescription > p > span{
    font-size: 30px;
    color: var(--blueThemeColor);
}

.carItemDescription > p{
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 10px;
    align-content: center;
}

.rentCarButtonArea{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;

    border: solid 2px blue;
}

.rentCarButton{
    width: 130px;
    height: 50px;
    font-size: 20px;
    background-color: yellowgreen;
    border: solid 2px yellowgreen;
    color: white;
    font-weight: bold;
    cursor: pointer;
}