.carItem{
    width: 95%;
    height: auto;
    margin: 10px auto 10px auto;
    background-color: #fff;


    border: solid 2px var(--greyThemeColor);
    border-radius: 5px;
}

.carItem > .carItemTitle{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--darkBlueThemeColor);
}

.carItemMiddle{
    display: flex;
    flex-direction: column;
}

.mainPart{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainPart > .carItemImage{
    display: block;
    width: 240px;
    height: 140px;
}

.carItemDescription{
    width: 95%;
    height: auto;
    margin: 20px auto 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px 50px;
    column-gap: 10px;
    justify-content: center;
    align-content: center;
}

.carItemDescription > p > span{
    font-size: 30px;
    color: var(--blueThemeColor);
}

.carItemDescription > p{
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 10px;
    align-content: center;
}

.priceArea{
    width: 100%;
    height: 50px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.priceArea > h3{
    color: darkgreen;
}

.rentCarButtonArea{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.rentCarButton{
    width: 130px;
    height: 50px;
    font-size: 20px;
    background-color: yellowgreen;
    border: solid 2px yellowgreen;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.bottomSectionCarItem{
    display: flex;
    flex-direction: column;
}

@media (orientation: landscape) {
    
    .mainPart > .carItemImage{
        width: 360px;
        height: 200px;
    }

    .carItemDescription{
        width: 85%;
        column-gap: 0px;
        grid-template-rows: 80px 80px 80px;
    }

    .carItemDescription > p{
        column-gap: 0;
        font-size: 22px;
    }

    .carItemDescription > p > span{
        font-size: 40px;
    }

    .priceArea{
        margin-top: -5px;
        height: 70px;
        padding: 0;
    }
    
    .priceArea > h3{
        color: darkgreen;
        font-size: 30px;
    }

    .rentCarButtonArea{
        height: 120px;
        justify-content: flex-end;
        padding-right: 30px;
    }

    .rentCarButton{
        width: 160px;
        height: 70px;
        font-size: 22px;
    }

    .bottomSectionCarItem{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
}

@media screen and (min-width: 960px) {

    .carItem > .carItemTitle{
        height: 70px;
    }

    .carItemTitle > h1{
        font-size: 50px;
    }
    .carItemMiddle{
        flex-direction: row;
    }

    .mainPart{
        width: 320px;
    }

    .mainPart > .carItemImage{
        width: 240px;
        height: 140px;
    }

    .carItemDescription{
        width: 420px;
        grid-template-rows: 70px 70px 70px;
    }

    .carItemDescription > p{
        column-gap: 5px;
        font-size: inherit;
    }

    .carItemDescription > p > span{
        font-size: 30px;
    }

    .rentCarButtonArea{
        height: 100px;
    }

    .rentCarButton{
        width: 130px;
        height: 60px;
        font-size: 20px;
    }
}