.contentWrapper{
    width: 100%;
    height: auto;
    background-color: yellow;
}

@media screen and (min-width:960px) {
    
    .contentWrapper{
        margin-top: 10px;
        height: auto;
    }
}