.filtersWrapper{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.firstFilterWrapper{
    width: 100%;
    border: solid 2px var(--greyThemeColor);
}

@media screen and (min-width: 960px) {

    .firstFilterWrapper{
        margin-top: 20px;
        width: 300px;
        height: auto;
        margin-left: auto;
        margin-right: auto;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}